#header-1 {
    color: blue;
    background-image: url("https://us.123rf.com/450wm/ksushsh/ksushsh1712/ksushsh171200107/92049994-scattered-gold-star-shape-confetti-borders-isolated-on-white-background.jpg?ver=6");
  }
  
  #paragraph-1 {
    color: hotpink;
  }
  
  #paragraph-2 {
    color: #28ac5c;
  }

  .bold {
      font-weight: bold
  }

  article {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

footer {
  display: flex;
  justify-content: center;
  padding: 5px;
  background-image: url("https://us.123rf.com/450wm/ksushsh/ksushsh1712/ksushsh171200107/92049994-scattered-gold-star-shape-confetti-borders-isolated-on-white-background.jpg?ver=6");
  color: rgb(14, 13, 13);
  font: 12px/14px sans-serif
}

form.form-example {
    display: table;
}

div.form-example {
    display: table-row;
}

label, input {
    display: table-cell;
    margin-bottom: 10px;
}

label {
    padding-right: 10px;
}
p { font: 12px/14px sans-serif }

h1 { font: 24px/28px sans-serif }

a { font: 12px/14px sans-serif }

ol { font: 12px/14px sans-serif }

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 300px 300px;
    grid-gap: 0.5em;
  }
  .grid__item {
    width: 100%;
    height: 100%;
    background: rgb(252, 252, 252);
  }